.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s linear;

  &[disabled] {
    cursor: not-allowed;
  }
}

.fadable {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.spinner {
  margin-right: 0.75rem;
}

.center {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
